*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
}
body,h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}
.container{
    padding: 1rem;
}
.mt-3{
    margin-top: 3rem;
}
form{
    display: block;
    margin-top: 0em;
}
input{
    font-size: 120%;
    border-radius: 0px;
    border-style: solid;
    border-color: transparent;
}
table{
    border-collapse: collapse;
    width: 100%;
    display: table;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: gray;
}
tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    /* padding: 100px; */
}
tr,td{
    /* border-top: 1px solid gray; */
    border-bottom: 1px solid gray;
    padding: 40px;
}
.emoji{
    font-size: 500%;
    margin: 70px;
    width: 8rem;
    max-width: 8rem;
    
    /* border-bottom: 1px solid gray;  */
}

.alisas{
    text-transform: capitalize;
    font-size: 250%;
    
}
.discription{
    font-size: 200%;
}
